body {
	
	background-color: #EFF3CD;
}

h1 {
	border-bottom-style: solid;
	border-bottom-color: #EEA651;
    color: #E76385 ; text-align: center;
	text-shadow: 3px 2px #8CDDE8;
}
h2 { 
    text-align: center; color: #9BB5B8;
    font-size: 18px;
}

.art {
	height: 150px;
	width: 120px;
}
.photo {
	height: 120px;
	width: 150px;
}
.food {
	height: 120px;
	width: 150px;
}